* {
  list-style: none;
}
* a {
  text-decoration: none;
}
* a:hover {
  color: gold;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: url("/images/accueil_page9.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /*position relative plus difficile pr rendre le site responsive */
  position: relative;
  overflow-x: hidden;
}

.container-first {
  position: absolute;
  top: 30%;
  left: 5%;
}

h1 {
  text-transform: uppercase;
  font-size: 350%;
  color: #f1f1f1;
  font-family: Abril fatface, sans-serif;
}

h1 span {
  position: relative;
}

.container-btns {
  position: relative;
  top: 50%;
}

.btn-first {
  border: 2px solid #f1f1f1;
  outline: none;
  background: transparent;
  font-size: 30px;
  width: 250px;
  color: #f1f1f1;
  cursor: pointer;
  margin-top: 40px;
  padding: 20px;
}

.btn-first:nth-child(1) { /*nth-child pour cibler le premier bouton */
  margin-right: 120px;
}

.btn-first:hover {
  transition: all 0s ease-in-out;
  background: #f1f1f1;
  color: #333;
}

.lignes {
  position: absolute;
  top: 8%;
  left: 5%;
}

.l1 {
  width: 230px;
  height: 3px;
  background: turquoise;
  border-radius: 5px;
}

.l2 {
  width: 140px;
  height: 3px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  top: 20px;
}

.logo {
  position: absolute;
  right: 0%;
  top: 6%;
  padding-top: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.medias {
  list-style-type: none;
  position: absolute;
  right: 3.3%;
  top: 57%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bulle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  background: #f1f1f1;
  cursor: pointer;
  position: relative;
}

.logo-medias {
  width: 40px;
  height: 40px;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mise-en-page-produit {
  display: flex;
  border: 1px solid black;
  background-color: bisque;
  width: 80vw;
}
.mise-en-page-produit img {
  vertical-align: bottom;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "header header" "produit_photo produit " "footer footer";
}
@media only screen and (max-width: 400px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 100px 200px 200px 200px 200px 200px 100px;
    grid-template-areas: "header" "produit1" "produit_photo1" "produit2" "produit_photo2" "produit3" "produit_photo3" "produit4" "produit_photo4" "produit5" "produit_photo5" "footer";
  }
}

.container-produits .mise-en-page-produit {
  border: solid 1px;
  background-color: bisque;
  width: 600px;
}

header {
  grid-area: header;
  text-align: center;
}
header .menu {
  background-color: turquoise;
}
header .menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
}
header .menu ul li {
  margin-left: 3rem;
  margin-right: 3rem;
}

footer {
  grid-area: footer;
  text-align: center;
  margin: 40px;
}

.grid-panier {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-template-areas: "header" "container-produits-panier" "footer";
  border: 2px solid black;
  width: 350px;
}

.container-recap-produit-panier {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 3rem;
  height: 50px;
  padding-top: 10px;
}

.container-montant-total {
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 3rem;
  height: 50px;
  padding-top: 10px;
}

#container-produits-panier {
  background-color: bisque;
  text-align: center;
}

#h2form {
  text-align: center;
  text-decoration: underline;
  background-color: bisque;
  padding: 15px;
}

#formulaire-commande {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: auto;
}

#form {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
#form .couleurChampMissing {
  color: yellow;
  font-weight: 700;
}
#form input {
  background-color: white;
  width: 40vh;
}
#form textarea {
  width: 40vh;
}

/*# sourceMappingURL=style.css.map */
