@import "./media";
@import "./mixins";
@import "./variables";

//NB: & est utiliser en sass quand on veut attacher 2 elements ensemble , pseudo classe avc l element plus precisement ex : a avec hover 


* {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        text-decoration: none;
    &:hover{
        color: red;
        }
    }
}

// mise en place de la grille index.html

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.mise-en-page-produit{
    display: flex;
    
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "produit_photo produit"
    "footer footer";

    @include smartphone-grid;
}
    //car en scss je peux faire ceci ↓
    .container-produits .mise-en-page-produit {
    
    border: solid 1px;
    background-color: bisque;
    width:600px
}  

//NB: grid template areas layout dans la console , ensuite grid overlays + show area names pour voir le dispatch , l alignement etc 

header{
    grid-area: header;
    text-align: center;
     .menu{
        background-color: turquoise;
     ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8px;
       // justify-content: space-between; ca fonctionne aussi
        //margin: 10px;
    & li {
      
        margin-left: 3rem;
        margin-right: 3rem;

            }
        }
    }
} 


footer{
    grid-area: footer;
    text-align: center;
}


//--------------------mise en place de la grille done 

