@import "./media";
@import "./mixins";
@import "./variables";


//permet d ajuster la taille de l ecran , assez sympa a faire 

//:root {
 //   font-size: 90%;
//}

//NB: & est utiliser en sass quand on veut attacher 2 elements ensemble , pseudo classe avc l element plus precisement ex : a avec hover 


* {
    margin: 0;
    padding: 0;
    list-style: none;
    a {
        text-decoration: none;
    &:hover{
        color: red;
        }
    }
}

// mise en place de la grille index.html

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.mise-en-page-produit{
    display: flex;
    border: 1px solid black;
    background-color: bisque;
    width: 80vw;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "produit_photo produit "
    "footer footer";

    @include smartphone-grid;
}
    //car en scss je peux faire ceci ↓
    .container-produits .mise-en-page-produit {
    
    border: solid 1px;
    background-color: bisque;
    width:600px
}  

//NB: grid template areas layout dans la console , ensuite grid overlays + show area names pour voir le dispatch , l alignement etc 

header{
    grid-area: header;
    text-align: center;
     .menu{
        background-color: turquoise;
     ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 8px;
       // justify-content: space-between; ca fonctionne aussi
        //margin: 10px;
    & li {
      
        margin-left: 3rem;
        margin-right: 3rem;

            }
        }
    }
} 


footer{
    grid-area: footer;
    text-align: center;
    margin: 40px;
}


//--------------------mise en place de la grille done 

//-----------------------------------------------------------------

//PRODUIT.HTML-----------------------------------------------------

//PRODUIT HTML FIN-------------------------------------------------

// panier.html-----------------------------------------------------

.grid-panier{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    grid-template-areas: 
    "header"
    "container-produits-panier"
    "footer"
    ;
    border: 2px solid black;
    width: 350px;
}


.container-recap-produit-panier{

    background-color: lightblue;
    display: flex;  // pour mettre quantite / nom produit / prix et supprimer l article cote a cote 
    justify-content: space-around;
    flex-grow: 1; // capacite a la cellule de s agrandir 
    flex-shrink: 1; // opposite
    flex-basis: 3rem;
    height: 50px;
    padding-top: 10px;
}

.container-montant-total{
    background-color: bisque;
    display: flex; //idem 
    justify-content: space-around;
    align-items: center;
    
    flex-grow: 1; // capacite a la cellule de s agrandir 
    flex-shrink: 1; // opposite
    flex-basis: 3rem;
    height: 50px;
    padding-top: 10px;
}

#container-produits-panier{
    background-color: bisque;
    text-align: center;
}

// panier html Fin ----------------------------------------



//formulaire

#h2form{
    text-align: center;
    text-decoration:underline ;
    //text-decoration-color: turquoise;
    background-color: bisque;
}

#formulaire-commande{

    display: flex;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    width: auto;
}

#form{
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    .couleurChampMissing{
        color: yellow;
        font-weight: 700;
        
    }
    input{
        background-color: white;
        width: 40vh;
    }
    textarea{
        width:40vh;
    }
    
}

